# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.



### Flask.Python Stack ###
# Byte-compiled / optimized / DLL files
*/__pycache__/
*.py[cod]
*$py.class
__pycache__/

.vscode/

